@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

.poppins {
  font-family: "Poppins-SemiBold";
}

.regular {
  font-family: "Poppins-Regular";
}